@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>ATH Shop Network System</h2>
    <h5>tutaj jest opis stronny</h5>
    <img src="https://i0.wp.com/tatamariusz.pl/wp-content/uploads/Hans-Christian-Andersen-Polny-kwiatek-Czyta-TataMariusz.jpg?fit=640%2C426&ssl=1" alt="kwiatek">
    <p></p>
</div>
